In [1]:
# Importing Libraries
import pandas as pd
  
data = pd.read_csv("C:/LANGS/ML/L6 - regression/HousingData.csv")

In [2]:
data.shape

(506, 14)

In [3]:
data.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,NaN,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,NaN,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [4]:
#check for null data
res = data.isnull().sum()
print(res)

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [5]:
#handle null data
data.fillna({
    "CRIM" : data["CRIM"].mean(),
    "ZN" : data["ZN"].mean(),
    "INDUS" : data["INDUS"].mean(),
    "AGE" : data["AGE"].mean(),
    "CHAS" : data["CHAS"].mean(),
    "LSTAT" : data["LSTAT"].mean(),
}, inplace=True)

In [6]:
#check for null data again
res = data.isnull().sum()
print(res)

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [7]:
#feature and target
feature = data.drop(["MEDV"], axis ="columns")
target = data["MEDV"]
print(feature.head())
print(target.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622    3  222     18.7

        B      LSTAT
0  396.90   4.980000
1  396.90   9.140000
2  392.83   4.030000
3  394.63   2.940000
4  396.90  12.715432
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train , x_test, y_train , y_test = train_test_split(feature,target,test_size=0.2,random_state=120)
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [9]:
s1 = model.score(x_train, y_train)
s2 = model.score(x_test,y_test)
print("train performance : " , s1)
print("test performance : " , s2)

train performance :  0.7179017073797094
test performance :  0.7659175805430978

In [10]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
p = model.predict(x_test)
mse = mean_squared_error(y_test,p)
mae = mean_absolute_error(y_test,p)
print("Mean Square Error : ", mse)
print("Mean Absolute Error : ", mae)

Mean Square Error :  22.5338952855998
Mean Absolute Error :  3.1946097976667303

In [11]:
print("xtrain shape : ", x_train.shape)
print("xtest shape  : ", x_test.shape)
print("ytrain shape : ", y_train.shape)
print("ytest shape  : ", y_test.shape)

xtrain shape :  (404, 13)
xtest shape  :  (102, 13)
ytrain shape :  (404,)
ytest shape  :  (102,)

In [12]:
pred = model.predict(x_test) 
df = pd.DataFrame({'Actual': y_test, 'Predicted': pred})
df

     Actual  Predicted
445    11.8  12.065989
432    16.1  20.494055
467    19.1  16.519894
99     33.2  32.595271
184    26.4  23.148142
..      ...        ...
386    10.5   6.906999
333    22.2  22.507871
385     7.2   8.947855
392     9.7  10.184101
174    22.6  26.592751

[102 rows x 2 columns]

In [13]:
d =  [[0.03237 ,  0.0 ,  2.18  , 0.0 , 0.458 , 6.998 , 45.8 , 6.0622  ,  3 , 222  ,   18.7,394.63,   2.940000]]
res = model.predict(d)
print("Predicted Price : " , round(res[0],3))

Predicted Price :  28.799

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(